# editorconfig.org
root = true

[*]
end_of_line = lf
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false
indent_style = space

[{res,www,tests}/**.{css,scss}]
indent_size = 2

[{res,src,www,tests}/**.{js,php}]
insert_final_newline = true
indent_size = 4

[*.{json,xml}]
indent_size = 4

[*.yml]
indent_size = 2