<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="bootstrap.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    convertWarningsToExceptions="true"
    convertNoticesToExceptions="true"
    convertErrorsToExceptions="true"
    processIsolation="false"
    stopOnIncomplete="false"
    stopOnFailure="false"
    stopOnSkipped="false"
    stopOnError="false"
    colors="true">

    <testsuites>
        <testsuite name="Projek Slim Framework Test Suite">
            <directory>./src/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../src/</directory>
        </whitelist>
    </filter>

    <php>
        <env name="APP_ENV" value="testing"/>
    </php>

</phpunit>
